<% layout('/layouts/boilerplate') %>
    <h1>All Rooms</h1>
    <div>
        <a href="/rooms/new">Add Room</a>
    </div>
    <ul>
        <% for (let room of rooms) { %> 
            <li><a href="/rooms/<%= room.id %>"><%= room.title %></a></li>
        <% } %> 
    </ul>
